ol,ul{
  list-style-type: none;
}
.header-rule{
  width: 16%;
}
.category{
  margin-bottom: 1em;
  margin-top: 2em;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}
.jumbotron{
  background-image: url('../main.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;

  }
  .social-media{
    width: 100%;
    display: inline-flex;
  }
  .social-media > li{
    padding: 1em;
  }
  .after-post{
    text-align: center;
  }
  .blog-post-title{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
  }
  .blog-post-mate{
    font-size: 16px;
  }
  .card-text{
    margin-bottom: 2rem;
  }
  .btn-lg{
    text-transform: uppercase;
  }
/* line across text*/

.line-across {
  text-align: center;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.line-across span {
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: #fff;
}
.line-across span:before {
  content: '';
  position: absolute;
  width: 400%;
  height: 2px;
  background-color: #000;
  left: -148%;
  top: 50%;
  z-index: -1;
}

/* end line across text*/
