a{
  color: #fcb048;

}
a:hover{
  text-decoration: none;
  color: #856404;
}
ol,ul{
  list-style-type: none;
}
.header-rule{
  width: 16%;
}
.category{
  margin-bottom: 1em;
  margin-top: 2em;
  color: #fcb048;
}
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 56px;
}

.jumbotron{
  background-image: url('../main.jpg');
  background-size: cover;
  background-position: center;
  height: 80vh;

  }
  .btn-primary{
    background-color: #856404;
    border: #856404;
  }
  .btn-primary:hover{
    background-color: #fcb048;
    border: #fcb048;
  }
  .btn-outline-primary {
    color: #fcb048;
    background-color: transparent;
    background-image: none;
    border-color: #fcb048;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #fcb048;
  background-image: none;
  border-color: #fcb048;
}
.btn-outline-success {
  color: #856404;
  background-color: transparent;
  background-image: none;
  border-color: #856404;
}
.btn-outline-success:hover {
  color: #fff;
  background-color: #856404;
  background-image: none;
  border-color: #856404;
}
  .about-intro {
    top: 32%;
    position: absolute;
    background: rgba(221, 221, 221, 0.4);
    padding: 0.8em;
  }
  .social-media{
    width: 100%;
    display: inline-flex;
  }
  .social-media > li{
    padding: 1em;
  }
  .after-post{
    text-align: center;
    display: inline-flex;
  }
  .after-post > li{
    padding: 1em;
  }
  .blog-post-title{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
  }
  .blog-post-mate{
    font-size: 16px;
  }
  .card-text{
    margin-bottom: 2rem;
  }
  .btn-lg{
    text-transform: uppercase;
  }
/* line across text*/

.line-across {
  text-align: center;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.line-across span {
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: #fff;
  text-transform: uppercase;
}
.line-across span:before {
  content: '';
  position: absolute;
  width: 400%;
  height: 2px;
  background-color: #000;
  left: -148%;
  top: 50%;
  z-index: -1;
}

/* end line across text*/

.posts-body{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-gap: 1em;
  /* grid-auto-rows: minmax(100px , auto); */
}
.nested {
  display: grid;
  grid-template-columns:1fr 2fr;
  grid-gap: 0.5em;
  grid-auto-rows: minmax(100px , auto);
}

.nested > div{
  text-align: left;
  color: #000;
}

.nested > div > h5{
  font-weight: bold;
}
.nested > div > p{
  color: #ddd;
}
.popuplar-posts > a:nth-child(even){
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.newsletter{
  margin: 0.8em 0.8em 2.8em 0.8em;
  background: #ddd;
  padding: 0.6em 0.6em 1.6em 0.6em;
}

.mastfoot{
  margin: 1em;
}
/* MARKDOWN PREVIEW */
textarea {
  width: 100%;
}

/* END OF MARKDOWN PREVIEW */
@media (max-width: 780px){
  .col-sm-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .nested > div{
    margin: 0.5em;
  }
}
@media only screen and (max-width: 750px) {
  .posts-body{
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    grid-gap: 1em;
    /* grid-auto-rows: minmax(100px , auto); */
  }
}

